.mainContainer {
    padding: var(--base-padding);
    height: var(--main-container-height);
}


.userInputContainer {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    color: var(--secondary-text-color);
    height: clamp(30px, 5vh, 40px);
}

.userInput {
    width: 100%;

    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    border: none;
}

.userInput::placeholder {
    color: var(--main-text-color);
}

.userInput:focus {
    outline: 0.125rem solid var(--outline-color);
    color: var(--secondary-text-color)
}

.directoryFilterContainer {
    width: calc(65% - var(--base-padding));
}

.yearSelectorContainer {
    width: calc(35% - var(--base-padding));
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

.directoryDisplay {
    height: clamp(140px, 30vh, 250px);
}

.changeLogDisplay {
    max-height: clamp(140px, 30vh, 250px);
    overflow-y: auto;
}