.mainContainer {
    padding: var(--base-padding);
    height: var(--main-container-height);
}

.userInputContainer {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    color: var(--secondary-text-color);
    height: clamp(30px, 5vh, 40px);
}

.userInput {
    width: 100%;

    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    border: none;
}

.userInput::placeholder {
    color: var(--main-text-color);
}

.userInput:focus {
    outline: 0.125rem solid var(--outline-color);
    color: var(--secondary-text-color)
}

.directoryFilterContainer {
    width: calc(60% - var(--base-padding));
}

.yearSelectorContainer {
    width: calc(40% - var(--base-padding));
}

.directoryDisplay {
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
}

.selectedDirectoryOption, .directoryOption {
    padding: 0.25rem;
    height: 1.5rem;
    font-size: 0.75rem;
    background-color: var(--main-background-color);
    overflow: hidden;
    text-wrap: nowrap;
}

.selectedDirectoryOption p, .directoryOption p {
    margin: 0;
    user-select: none;
    width: 75%;
}

.selectedDirectoryOption button, .directoryOption button {
    height: 1.25rem;
    font-size: 0.75rem;
    background-color: var(--main-background-color);
    border: none;
    border-left: 0.125rem solid var(--main-text-color);
    width: 25%;
}

.selectedDirectoryOption {
    border: 1px solid var(--outline-color);
}

.directoryOption {
    border: 0.125rem solid var(--main-text-color);
}

.invoiceViewer {
    width: inherit;
    height: inherit;
}