.mainContainer {
    padding: var(--base-padding);
}


.userInputContainer {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    color: var(--secondary-text-color);
}

.userInput {
    width: 100%;

    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    border: none;
}

.userInput::placeholder {
    color: var(--main-text-color);
}

.userInput:focus {
    
}

.directoryFilterContainer {
    width: calc(65% - var(--base-padding));
}

.yearSelectorContainer {
    width: calc(35% - var(--base-padding));
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}


.directoryDisplay {

}