.navBar {
    align-items: center;
    padding: var(--base-padding);
}

.buttonsContainer button {

}

.projectTitle {
    margin: 0;
    font-size: var(--navbar-title-font-size);
    line-height: var(--navbar-title-font-size);
}

.icon {
    width: var(--navbar-title-font-size);
    height: var(--navbar-title-font-size);
}