@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$grid-breakpoints: (
  mobilePortrait: 0,
  mobileLandscape: 640px,
  tabletPortrait: 768px,
  tabletLandscape: 1024px,
  desktopView: 1280px,
);

$offcanvas-horizontal-width: clamp(160px, 30vw, 320px);

// Note that the className is used at first and then the sass variable name.
$utilities: map-merge(
  $utilities,
  (
    "h":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "w":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
  )
);

/* import bootstrap's api and scss to update changes */
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
